* {
    border: 1px solid rgba(0, 0, 255, 0.1);
    margin: 0 0 41px 0;
}

body {
    padding: 5px 280px 5px 280px;
    margin: 0;
    width: 50
}

/*/* Container-1 items */*

.container-1 {
    height: 50px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
}

#logo {
    color: Red;
    height: 40px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

#nav {
    height: 40px;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: auto;
    flex-wrap: nowrap;
    background-color: darkblue;
}

#nav li {
    padding: 4px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: teal;
    margin: 0;
    height: 100%;
}

/*/* Container-2 items */*

.container-2 {
    margin: 0;
    padding: 80px;
    height: 170px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: darkblue;
}

.holder-1 {
    height: 185px;
    width: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.holder-2 {
    height: 185px;
    width: 600px;
    margin: 0;
    display: flex;
}

/* Holder-Subs */

.holder-1 h2, p, button {
    margin: 0;
}
.holder-1 h2 {
    font-size: 2em;
    color: aliceblue;
}
.holder-1 p {
    opacity: 0.6;
    height: 75px;
    padding: 0 20px;
    color: antiquewhite;
}
.holder-1 button {
    width: 60px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
    opacity: 0.9;
}

.holder-2 img {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

/*/* Container-3 items */*

/* holder-1 */

.container-3 h3 {
    text-align: center;
    font-size: 2em;
    padding: 5px
}

.container-3 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container-3 {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

.container-3 h3 {
    background-color: teal;
}

.container-3 li {
    width: 200px;
    text-align: center;
}

.container-3 img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.container-3 p {
    margin-top: 10px;
    color: antiquewhite;
    opacity: 0.6;
    font-size: 0.9em;
}

/*/* Container-4 items */*

.container-4 {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}
